.cloud-component-show {
  border-top: #1b58f4 2px solid;
}
.components-list-nav {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  .components-list-title {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 24px;
    color: #0f172a;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    &:hover {
      color: var(--primary-color);
    }
  }
}
.components-list-operation {
  line-height: 24px;
  .next-icon:hover {
    color: #1b58f4;
  }
}
.components-list-content {
  display: flex;
  padding: 6px 0 12px;
  color: #475569;
  font-size: 13px;
}
.components-list-date {
  display: flex;
  justify-content: flex-end;
  height: 37px;
  line-height: 37px;
}
.trait-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 4px 6px 0 0;
  padding: 3px 12px;
  overflow: hidden;
  color: #334155;
  font-size: 12px;
  line-height: 20px;
  background: #f1f5f9;
  border: 1px solid transparent;
  border-radius: 999px;
  cursor: pointer;
  .trait-actions {
    position: absolute;
    right: 0;
    display: none;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 32px;
    color: #dc2626;
    background: #fee2e2;
  }
}
.trait-icon.disable {
  background: rgba(166, 166, 166, 0.3);
}
.trait-icon:hover {
  border: #1b58f4 solid 1px;
  .trait-actions {
    display: block;
  }
}
.component-icon {
  width: 20px;
  margin-right: 4px;
}
