.expression-editor {
  width: 100%;
  .expression-editor-input {
    height: 32px;
    padding: 5px 0 0;
    overflow: hidden;
    border: 1px solid #c0c6cc;
    border-radius: 3px;
    background: #fff;
    &.disabled {
      background: #f7f8fa;
    }
  }
  .expression-editor-status {
    margin-top: 4px;
    font-size: 12px;
    color: #1b58f4;
    &.error {
      color: #d23c26;
    }
  }
}
